@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <section id="events" class="events">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="~/assets/img/events-1.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">How to Prepare for IELTS Exam</a></h5>
                <p class="fst-italic text-center">IELTS practice and preparation</p>
                <p class="card-text">he best way to prepare for the IELTS exam is to do a course that helps you practice the different skills that are
                    tested in the exam. Practicing and studying with a teacher is ideal because the teacher can identify the areas where you need to improve and help you. This is especially true of the writing section which is quite challenging in terms of style and structure, and without guidance and feedback from a teacher, it can be hard to practice and improve.
                    At Wall Street English we have a special course available for students who need to take the IELTS exam, led by expert teachers.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card">
              <div class="card-img">
                <img src="~/assets/img/events-2.jpg" alt="...">
              </div>
              <div class="card-body">
                <h5 class="card-title"><a href="">What does the IELTS exam involve?</a></h5>
                <p class="fst-italic text-center">IELTS assessment </p>
                <p class="card-text">IELTS makes an assessment of all your language skills – listening, reading, speaking and writing.
                    The exam lasts 2 hours and 45 minutes and consists of the following:
                  <strong>Listening – </strong>  four sections with a total of 40 questions, lasting 30 minutes. 
                   <strong>Reading –  </strong> three sections with a total of 40 questions, lasting one hour.
                  <strong>Writting –  </strong> two written tasks lasting one hour. The first task involves writing an email or describing a diagram or chart.
                  <strong> Speaking –   </strong>  three parts lasting about 15 minutes.
                </p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Events Section -->