<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CEFR Levels - Speaky</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons --> 
  <link href="~/assets/img/favicon.png" rel="icon">
  <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Mentor - v4.7.0
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <partial name="_NavPartial"></partial>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>CEFR English Levels</h2>
       <div>
        @RenderBody()
    </div>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Cource Details Section ======= -->
 

    <partial name ="_LevelPartial"> </partial>

    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Beginner</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Elementary</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Intermediate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Upper Intermediate</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Advanced</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>A1 – Beginner</h3>
                    <p class="fst-italic">Speaky offers Levels 3-5</p>
                    <p>At this level you can use your English in some basic situations when you’re traveling.
                       You don’t have enough English to work or study in English, but you can have a simple conversation with people if they speak slowly and simply.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/A1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>A2 – Elementary</h3>
                    <p class="fst-italic">Speaky offers Levels 6-9</p>
                    <p>At this level, you feel comfortable as a tourist in most everyday situations and you can socialize with other English speakers.
                       You can use English at work in some situations as long as you are very familiar with what others are talking about, 
                       and you’ll be able to use your English to network. You can’t study in English,
                       but you will be able to understand some messages and short written texts if you are familiar with the topic.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/A2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>B1 – Intermediate</h3>
                    <p class="fst-italic">Speaky offers Levels 10-13</p>
                    <p>At this level you are confident using English in the workplace in familiar situations, and can attend a job interview in English. Although you can’t 
                      fully function in English at work, you can read reports, write short emails, and take part in simple negotiations in English. You can socialize with other English speakers while travelling, and can deal with most situations confidently, including making complaints and solving problems. 
                      You can understand some texts and videos when you’re studying, and can take part in classes in English if you’re already familiar with the topic.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/B1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>B2 – Upper Intermediate</h3>
                    <p class="fst-italic">Speaky offersLevels 14-17</p>
                    <p>
                      At this level you can work comfortably in English in your own field, and will be confident communicating both verbally and in writing.
                       You can plan and deliver a business presentation, and can express your opinions confidently, clearly giving pros and cons. When you are travelling,
                        you are confident socializing with others in English, and can deal with any complex situations that arise. You can understand most media, such as films and newspapers,
                       and when you are studying can express yourself clearly and fluently both when speaking and when writing on a range of topics.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/B2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>C1 – Advanced</h3>
                    <p class="fst-italic">Speaky offersLevels 18-20.</p>
                    <p>At this level you can use English in all situations at work. You can understand complex subjects even when you don’t have much 
                      background knowledge, and can express your views and opinions fluently. You can deal with any situation that comes your way when you are travelling,
                       and can understand and use humor when you are socializing.
                       You can study in English, using language effectively and flexibly when you are speaking and writing.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="~/assets/img/PhotoLevels/C1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Cource Details Tabs Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <partial name="_FooterPartial"></partial>

  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="~/assets/vendor/purecounter/purecounter.js"></script>
  <script src="~/assets/vendor/aos/aos.js"></script>
  <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="~/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="~/assets/js/main.js"></script>

  
</body>

</html>
   

