@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
     <section id="course-details" class="course-details">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-8">
            <img src="~/assets/img/PhotoLevels/leveldetails.jpg" class="img-fluid" alt="">
            <h3>An English course aligned to global standards</h3>
            <p>
              Speaky offers 20 English levels for students ranging from beginners to advanced. Our course is aligned with the 
              Common European Framework of Reference for Languages (CEFR) so you always know exactly where you are based on internationally recognized standards.
               The main CEFR levels are A1, A2, B1, B2, C1 and C2.
               They evaluate your English skills such as writing, listening, reading, spoken production and spoken interaction.
            </p>
          </div>
          <div class="col-lg-4">

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>A1</h5>
              <p><a href="#tab-1">Beginner</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>A2</h5>
              <p><a href="#tab-1">Elementary</a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>B1</h5>
              <p><a href="#tab-1">Intermediate </a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>B2</h5>
              <p><a href="#tab-1">Upper Intermediate </a></p>
            </div>

            <div class="course-info d-flex justify-content-between align-items-center">
              <h5>C1</h5>
              <p> <a href="#tab-1">Advanced </a></p>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End Cource Details Section -->