@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

  <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>English Pronunciation – Phonetics</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="~/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>English Instructor</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>

                    The Schwa sound <br />
                    This phonetic symbol has a special name, ‘Schwa’,
                    and is very common in English words and for a strange reason. It usually represents the unaccented syllable of a word. 
                    To make the schwa sound you simply need to open your mouth and make a voiced sound. For example:
                    about  /əˈbaʊt/mother /ˈmʌðə/businessman /ˈbɪznəsmən/.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="~/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>pronunciation Instructor</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Where’s the accent? <br />
                    Another useful thing about phonetics is that they show you where the accent or stress of a word is. 
                    Every word has one or more syllables, and one of these syllables has a stronger accent than the others. 
                    This syllable is indicated in phonetics by an apostrophe ‘ before it. For example:prepare /prɪˈpeə/
                  
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="~/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>pronunciation Instructor</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The letter R <br />
                    You will notice that the letter ‘r’ is rarely pronounced in the middle or at the end of words in English. The only situation in which it is 
                    pronounced is when it’s followed by a vowel. For example:

                     right /raɪt/rabbit /ˈræbɪt/rather /ˈrɑːðə/In these cases the ‘r’ is not pronounced:fork /fɔːk/cooker /ˈkʊkə/hard /hɑːd/
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="~/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>English Instructor</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Two phonetics for -th- <br />
                    As you can see from the list above, there are two different phonetic symbols for ‘th’. They are represented by these two symbols:

                    /θ/ and /ð/The only difference between these two phonetics is that the first is unvoiced (you don’t use your voice to make the sound), while the second is voiced.
                    Try to say the two words and put your finger on your neck to notice if you use your voice or not. Here are some words that use each symbol: 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="~/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Two phonetics for -th- <br />
                    As you can see from the list above, there are two different phonetic symbols for ‘th’. They are represented by these two symbols:

                    /θ/ and /ð/The only difference between these two phonetics is that the first is unvoiced (you don’t use your voice to make the sound), while the second is voiced.
                    Try to say the two words and put your finger on your neck to notice if you use your voice or not. Here are some words that use each symbol: 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->