@model ProjectItiTeam.Models.Course

@{
    Layout="_LayoutCourseDetails";
}


<hr />
<div class="container">
    <div class="row">
            <div class="col-md-8   box-shadow mt-3">
                <h1 class="box-shadow p-1 rounded text-light ">Update The Course</h1>

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

             <div>
        <label for="Level_Id">Level</label>
        <select class="form-control" name="Level_Id" id="Level_Id" >
            @foreach (Level Levelitem in ViewBag.LevelList)
            {
                if (Model.Level_Id == Levelitem.Id)
                {
                    <option value="@Levelitem.Id" selected>@Levelitem.Name</option>
                }else{
                    <option value="@Levelitem.Id">@Levelitem.Name</option>
                }
           }
        </select>
    </div>
           @* <div class="form-group">
                <label asp-for="Level_Id" class="control-label"></label>
                <select asp-for="Level_Id" class="form-control" asp-items="ViewBag.Level_Id"></select>
                <span asp-validation-for="Level_Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_Id" class="control-label"></label>
                <input asp-for="User_Id" class="form-control" />
                <span asp-validation-for="User_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-outline-light rounded-pill w-100" />
            </div>
        </form>
    </div>
      <div class="col-md-4 p-2 ">
                <div class="mt-3">
                    <img src="~/assets/img/course-1.jpg" class="img-thumbnail h-100"/>
                    <img src="~/assets/img/course-2.jpg" class="img-thumbnail h-100"/>
                </div>
            </div>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

