@model ProjectItiTeam.Models.MCQ

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MCQ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAnswer" class="control-label"></label>
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
              <div>
        <label for="Level_Id">Level</label>
        <select class="form-control" name="Level_Id" id="Level_Id" >
            @foreach (Level Levelitem in ViewBag.Levels)
            {
                if (Model.Level_Id == Levelitem.Id)
                {
                    <option value="@Levelitem.Id" selected>@Levelitem.Name</option>
                }else{
                    <option value="@Levelitem.Id">@Levelitem.Name</option>
                }
           }
        </select>
    </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
