@model Video

@{
    ViewData["Title"] = "Add a new video";
}

<div class="text-center">
    <h1>Add a new Video</h1>
</div>

<div class="text-center">
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />


        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
        <br />


         <label asp-for="Course_ID" ></label>
         <select asp-for="Course_ID" asp-items="ViewBag.Course_ID"></select>
        <br />

         <label asp-for="User_Id"></label>
         <input asp-for="User_Id"/>
         <span asp-validation-for="User_Id"></span>
         <br />

        <input type="submit" value="Add Video" />
    </form>
</div>
