@*@model ProjectItiTeam.Data.ViewModels.NewVideoViewModel
*@
@using ProjectItiTeam.Data.Enums;
@model Video

@{
    ViewData["Title"] = "Add a new video";
}
<div class="bg-image" 
     style="background-image: url('~/PhotoUser/banaar.jpg');
            height: 100vh">

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4 class="text-success box-shadow p-1 rounded ">Create a new Video</h4>
        </p>

        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="SaveNew" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control"/>
                                <span asp-validation-for="Name" class="text-success"></span>
                            </div>
                            </div>
                        
                        <div class="col-md-6">
                           <div class="form-group">
                                <label asp-for="Course.Name" class="control-label"></label>
                                <select asp-for="Course_ID" class ="form-control" asp-items="ViewBag.Course_ID"></select>
                            </div>
                            
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="VideoUrl" class="control-label"></label>
                                <input asp-for="VideoUrl" class="form-control"/>
                                <span asp-validation-for="VideoUrl" class="text-success"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
@*                        <img width="100%" id="ImageUrlPreview" />
*@                        <video width="100%" id="ImageUrlPreview"  autoplay loop alt="Video-Course"></video>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-success" asp-action="Index">Show All</a>
                    </div>
                     <div class="form-group">
                        <label asp-for="pathViedoes" class="control-label"></label>
                        <input type="file" asp-for="pathViedoes" class="form-control" />
                        <span asp-validation-for="pathViedoes" class="text-danger"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>


@*<div class="text-center">
    <h1>Add a new Video</h1>
</div>

<div class="text-center">
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />


        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description"></span>
        <br />


         <label asp-for="Course_ID" ></label>
         <select asp-for="Course_ID" asp-items="ViewBag.Course_ID"></select>
        <br />

         <label asp-for="User_Id"></label>
         <input asp-for="User_Id"/>
         <span asp-validation-for="User_Id"></span>
         <br />

        <input type="submit" value="Add Video" />
    </form>
</div>*@
