@{
    Layout = "_LayoutForHome";
}
<h1>jjjjjjjjjjjjjjjjjjjjjjjjj</h1>






<script>
      $('.autoplay').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 1000,
});
</script>